<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="referrer" content="always"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/semantic.min.css"/>
    <link type="text/css" rel="stylesheet" href="./css/space.4cb6e48f.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <style>
        #mainScreen {
            padding-top: 10px;
        }
    </style>
</head>
<body>


<div class="pusher" id="app">

    <div id="mainScreen">
        <div class="ui container">

            <div class="ui internally stackable grid tweet-detail-page">
                <div class="eleven wide computer sixteen wide tablet column tweet-detail-wrap">
                    <div class="ui breadcrumb">
                        <a class="section" href="./home.html">所有启事</a>
                        <i class="right chevron icon divider"></i>
                        <div class="active section">详情</div>
                    </div>
                    <div class="ui divider hidden"></div>

                    <div class="ui feed tweet-detail tweet-item">
                        <div class="event">
                            <div class="content">
                                <div class="ui items tweet-user-info">
                                    <div class="item">
                                        <a>
                                            <div class="osc-avatar small-portrait _35x35 avatar">
                                                <img :src="item.icon?imgPrefix+item.icon:userIcon"
                                                     alt="头像"
                                                     :title="item.username"/>
                                            </div>
                                        </a>
                                        <div class="content">
                                            <div v-if="item.kind==0"
                                                 class="ui red label horizontal"
                                                 data-tooltip="正在寻找">
                                                寻物
                                            </div>
                                            <div v-else class="ui blue label horizontal"
                                                 data-tooltip="等待认领">
                                                认领
                                            </div>
                                            <a class="user __user">{{item.username}}</a>

                                            <div class="extra">
                                                <div class="date">{{item.time}}&nbsp;&nbsp;
                                                    <i v-if="item.location"
                                                       class="map marker alternate icon"></i>
                                                    <!--<span class="text-over">{{item.location}}</span>-->
                                                    <span>{{item.location}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="extra text">
                                    {{item.title}}
                                </div>
                                <div class="header">
                                    {{item.about}}
                                </div>


                                <div class="extra multi-image" v-if="item.images && item.images.length > 0">
                                    <div data-multi-image-raw="list" class="multimgs" style="display: flex;">
                                        <div v-for="(src, index) in item.images" class="wrapper multing-wrapper">
                                            <img
                                                    :src="imgPrefix + src" :key="src" @click="viewImages(index)"
                                                    style="max-width: 160px; height: auto;">
                                        </div>
                                    </div>
                                </div>
                                <div class="ui horizontal list">
                                    <div class="item">
                                        <span class="ui horizontal label">{{item.category}}</span>
                                    </div>
                                </div>


                                <!--赞，转发，评论，举报-->
                                <div class="meta">

                                    <a class="reply" href="#comments"><i class="comment outline icon"></i> <span
                                            data-tweet-reply-count>{{comments.length || 0}}</span> 评论</a>
                                    <a class="share" @click="share">
                                        <i class="external icon"></i>
                                        <span data-tweet-ref-count></span>
                                        转发
                                    </a>
                                    <a v-if="item.isSelf" class="like" @click="deletePub(item.id)">
                                        <i class="trash alternate outline icon"></i>删除
                                    </a>
                                    <!--  <div class="right">
                                          <a class="ban" ban-report data-id="19937739" data-obj-type="100"
                                             data-url="https://my.oschina.net/u/2553562/tweet/19937739">
                                              <i class="ban icon"></i> 举报
                                          </a>
                                      </div>-->
                                </div>
                                <div class="meta">

                                    <a class="reply"><i class="envelope outline icon"></i>
                                        <span></span>{{item.email}}</a>
                                    <a class="share">
                                        <i class="mobile alternate icon"></i>
                                        <span></span>{{item.phoneNumber}}
                                    </a>
                                    <!--  <div class="right">
                                          <a class="ban" ban-report data-id="19937739" data-obj-type="100"
                                             data-url="https://my.oschina.net/u/2553562/tweet/19937739">
                                              <i class="ban icon"></i> 举报
                                          </a>
                                      </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!item.isSelf && item.kind == 1" class="field foot-bar" style="text-align: center;">
                        <button class="ui blue small button" @click="claim">我要认领
                        </button>
                    </div>
                    <!--comment-->
                    <h3 class="ui header" id="comments">评论</h3>
                    <div class="" id="tweetCommentForm">
                        <!--<div class="ui form tweet-form" :class="{loading: commentPublishLoading}">-->
                        <div class="ui form tweet-form">
                            <div class="field">
                    <textarea v-model="comment" rows="4" placeholder="我有话要说"
                              maxlength="256" class="tweet-comment-textarea disabled-resize">
                    </textarea>
                            </div>
                            <div class="field foot-bar">
                                <div class="ui horizontal link small list toolbox">
                                </div>
                                <!--<div class="count"></div>-->
                                <!--<div class="ui mini checkbox pub-tweet-checkbox">-->
                                <!--<input id="pubTweet" type="checkbox" class="hidden" v-model="isPubTweet">-->
                                <!--<label for="pubTweet">在动态中显示</label>-->
                                <!--</div>-->
                                <button :class="{disabled:  !item.id || comment.length<=  0}"
                                        class="ui primary right floated small button" @click="pubComment">发布评论
                                </button>
                            </div>
                        </div>
                        <!--<div class="ui mini message hidden" :class="tipMessage.className"-->
                        <!--:style="{display: tipMessage.show ? 'block' : 'none'}"><span v-html="tipMessage.content">-->
                        <!--</div>-->
                    </div>


                    <div id="tweetCommentsList">

                        <div v-for="item in comments" class="ui feed tweet-comments tweet-comments-list-container">
                            <div class="event comment comment-item">
                                <div class="label">
                                    <a>
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon?imgPrefix+item.icon:userIcon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a class="user __user">{{item.username}}</a>

                                        <div class="date">{{item.time}}</div>
                                    </div>
                                    <div class="extra text" data-emoji-render>
                                        {{item.content}}
                                    </div>
                                    <!-- <div class="meta">
                                         <a class="reply">
                                             <i class="comment outline icon"></i> 回复
                                         </a>
                                         <a class="ban" ban-report data-id="19937818" data-obj-type="101"
                                            data-url="https://my.oschina.net/u/2553562/tweet/19937739/#rpl_19937818">
                                             <i class="ban icon"></i> 举报
                                         </a>
                                     </div>-->
                                </div>
                            </div>


                        </div>

                        <div class="page-load-status" style="display: none;">
                            <p class="infinite-scroll-request">
                                <i class="ui active small inline loader"></i>
                            </p>
                            <p class="infinite-scroll-last">没有更多内容</p>
                            <p class="infinite-scroll-error">加载失败，请刷新页面</p>
                        </div>
                        <a class="ui fluid button load-more-button" style="display: none;">更多评论</a>
                        <div class="list-container-last-tips">
                            <p>没有更多内容</p>
                        </div>
                    </div>
                </div>

                <!--热门动弹-->
                <div class="five wide computer sixteen wide tablet column sidebar">
                    <div class="section">
                        <h3 class="header">相关启事</h3>
                        <div class="ui feed">
                            <div v-for="item in page.list" class="event tweet-item">
                                <div class="label">
                                    <a @click="jumpDetail(item.id)">
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon?imgPrefix+item.icon:userIcon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content content__sidebar">
                                    <div class="tweet-user-info__sidebar">
                                        <a class="user __user" @click="jumpDetail(item.id)">
                                            <div v-if="item.kind==0" class="ui red label horizontal"
                                                 data-tooltip="正在寻找">
                                                寻物
                                            </div>
                                            <div v-else class="ui blue label horizontal" data-tooltip="等待认领">
                                                认领
                                            </div>
                                            {{item.username}}
                                        </a>

                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                            <i v-if="item.location" class="map marker alternate icon"></i>
                                            <span>{{item.location}}</span>
                                        </div>
                                    </div>
                                    <div class="extra text">
                                        {{item.title}}
                                    </div>


                                    <div class="extra multi-image" data-optlog-id="19929938">
                                        <div class="multimgs">
                                            <div class="wrapper single-wrapper" v-for="src in item.images">
                                                <a>
                                                    <img :src="imgPrefix + src" :key="src" @click="jumpDetail(item.id)"
                                                         data-max-width="160" data-max-height="160" alt="图片">>
                                                </a>
                                            </div>

                                            <!--   <div class="wrapper single-wrapper" data-multi-image-raw="item">
                                                   <a @click="jumpDetail(item.id)">
                                                       <img :src="imgPrefix + src" :key="src"
                                                            data-max-width="160" data-max-height="160" alt="图片">
                                                   </a>
                                               </div>-->
                                        </div>
                                    </div>
                                    <div class="ui horizontal list">
                                        <div class="item">
                                            <span class="ui horizontal label">{{item.category}}</span>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <a class="like" @click="jumpDetail(item.id)">
                                            <i class="eye icon"></i>
                                            <span>{{item.lookCount}}</span>
                                        </a>
                                        <a class="reply"><i class="comment outline icon"></i>
                                            <span>{{item.commentCount}}</span> 评论</a>
                                        <a class="share"><i class="external icon"></i>
                                            转发</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section ad-wrap">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="copyright">
        <div class="ui container">
            <div class="ui clearing basic segment" style="text-align: center;">
                <div class="ui   horizontal link list">
                    <div class="item">&copy; 2019 校园失物招领网站系统 | <a href="http://www.ecit.edu.cn/"
                                                                  target="_blank">ECUT</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none; padding: 10px;" id="shareDiv">
    <div id="imgDiv">
    </div>
</div>

<script src="./js/semantic.min.js"></script>
<script src="js/mine/common.js"></script>
<script src="./js/layer.js"></script>
<script src="js/mine/detail.js"></script>
<script src="js/qrcode.js"></script>
</body>
</html>
<!-- Generated by oschina (init:0[ms],page:34[ms],ip:223.104.10.126) //-->