<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Tables ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        a {
            cursor: pointer;
        }
        td,th{
            padding: 2px !important;
        }
    </style>
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="found.html">招领启事</a>
                            </li>
                            <li>
                                <a href="category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="users.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="campus.html"><i class="fa fa-university nav_icon"></i>校区管理</a>-->
                    <!--</li>-->
                    <li>
                        <a href="notice.html"><i class="fa fa-rss nav_icon"></i>&nbsp;公告管理</a>
                    </li>
                    <li>
                        <a href="feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                        <!-- //nav-second-level -->
                    </li>

                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>校园失物招领系统</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">

            <!--notification menu end -->
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon?imgPrefix+user.icon:schoolIcon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p>{{user.schoolName}}</p>
                                    <span>{{user.email}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <!--<li><a ><i class="fa fa-cog"></i> Settings</a></li>-->
                            <!--<li><a ><i class="fa fa-user"></i> Profile</a></li>-->
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper" style="padding-top: 5em;">
        <div class="main-page">
            <div class="col-md-12">
                <div class="col-md-offset-6 col-lg-6" style="padding: 0px 0px 20px 0px;">
                    <div class="input-group">
                        <input v-model="result.search.keyword" type="text" class="form-control" placeholder="关键字">
                        <span class="input-group-btn">
                                <button @click="submit" class="btn btn-primary" type="button">搜索</button>
                              </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

            </div>
            <div class="tables col-md-12">
                <div class="bs-example widget-shadow" style="margin-top: 0px;" data-example-id="hoverable-table">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <!--<th>校区</th>-->
                            <th>标题</th>
                            <th>发布时间</th>
                            <th>物品分类</th>
                            <th>启事类型</th>
                            <th>发布人</th>
                            <th>状态</th>
                            <th>
                                <span class="glyphicon glyphicon-th-list"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in result.list">
                            <th scope="row">{{index+1}}</th>
                            <td><a @click="jumpDetail(item.id)">{{item.title}}</a></td>
                            <td><span >{{item.time}}</span></td>
                            <td><span class="label label-info">{{item.category}}</span></td>
                            <td v-if="item.kind==0"><span class="label label-danger">寻物启事</span></td>
                            <td v-else><span class="label label-primary">认领启事</span></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{item.realName}}&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a @click="seeInfo(item.userId)">查看信息</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <!--<li role="separator" class="divider"></li>-->
                                        <!--<li><a href="#">发送邮件</a></li>-->
                                        <li><a @click="freezeUser(item.userId)">冻结账号</a></li>
                                        <!--<li><a href="#"></a></li>-->
                                    </ul>
                                </div>
                            </td>
                            <td v-if="item.status==1"><span class="label label-warning">寻回中</span></td>
                            <td v-else-if="item.status==3">
                                <button title="查看认领者信息" @click="seeInfo(item.claimantId)" type="button"
                                        class="btn btn-success btn-xs">
                                    已认领
                                </button>
                            </td>
                            <td>
                                <button @click="deletePub(item.id)" type="button" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        <!--<tr>
                            <th scope="row">2</th>
                            &lt;!&ndash;<td>&ndash;&gt;
                                &lt;!&ndash;<span class="label label-info">广兰校区</span>&ndash;&gt;
                            &lt;!&ndash;</td>&ndash;&gt;
                            <td><span class="label label-info">电子数码</span></td>
                            <td><a>丢失华为P30Pro一部,丢失华为P30Pro一部,丢失华为P30Pro一部丢失华为P30Pro一部,丢失华为P30Pro一部</a></td>
                            <td><span class="label label-default">2019-04-13 16:48:55</span></td>
                            <td><span class="label label-primary">认领中</span></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        赵海&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">查看信息</a></li>
                                        &lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;
                                        &lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;
                                        <li><a href="#">发送邮件</a></li>
                                        <li><a href="#">冻结账号</a></li>
                                        &lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                    <p v-if="result.list.length == 0" class="text-center">无内容</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7">
                    <nav style="float: right;">
                        <ul class="pagination">
                            <li><a @click="toPage(0)">首页</a></li>
                            <li :class="{disabled: result.search.pageNum==0}">
                                <a @click="toPage(result.search.pageNum-1)" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <!--<li class="active"><a>1</a></li>-->
                            <li v-for="num in result.totalPage" :class="{active: num==currentPage}">
                                <a @click="toPage(num-1)">{{num}}</a>
                            </li>
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#">5</a></li>-->
                            <li :class="{disabled: result.search.pageNum>=result.totalPage - 1}">
                                <a @click="toPage(result.search.pageNum+1)" aria-label="Next"><span
                                        aria-hidden="true">»</span>
                                </a>
                            </li>
                            <li><a @click="toPage(result.totalPage-1)">末页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-5">
                    <div class="input-group" style="margin: 20px 10px;">
                        <span class="input-group-addon" id="sizing-addon1">共{{result.total}}条，每页</span>
                        <input type="text" class="form-control" v-model="result.search.pageSize">
                        <span class="input-group-addon" id="sizing-addon2">条，第</span>
                        <input type="text" class="form-control" :value="currentPage" id="pgNum">
                        <span class="input-group-addon" id="sizing-addon3">/{{result.totalPage}}页</span>
                        <span class="input-group-btn" style="width: auto;">
                                <button class="btn btn-primary" type="button" @click="submit">确定</button>
                            </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p>&copy; 2019 校园失物招领网站系统 | <a href="http://www.ecit.edu.cn/" target="_blank">ECUT</a></p>

    </div>
    <!--//footer-->
    <div id="infoDiv" style="display: none;">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>姓名</td>
            <td>{{userInfo.name}}</td>
        </tr>
        <tr>
            <td>学号</td>
            <td>{{userInfo.username}}</td>
        </tr>
        <tr>
            <td>性别</td>
            <td>{{userInfo.gender}}</td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td>{{userInfo.email}}</td>
        </tr>
        <tr>
            <td>电话</td>
            <td>{{userInfo.phoneNumber}}</td>
        </tr>
        <tr>
            <td>班级</td>
            <td>{{userInfo.classNum}}</td>
        </tr>
        <tr>
            <td>专业</td>
            <td>{{userInfo.major}}</td>
        </tr>
        <tr>
            <td>部门</td>
            <td>{{userInfo.academy}}</td>
        </tr>
        <tr>
            <td>校区</td>
            <td>{{userInfo.campus}}</td>
        </tr>
        <tr>
            <td>最近登录</td>
            <td>{{userInfo.lastLogin}}</td>
        </tr>
        <tr>
            <td>状态</td>
            <td>{{userInfo.status}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<script>
    /* var menuLeft = document.getElementById('cbp-spmenu-s1'),
         showLeftPush = document.getElementById('showLeftPush'),
         body = document.body;

     showLeftPush.onclick = function () {
         console.log('close');
         classie.toggle(this, 'active');
         classie.toggle(body, 'cbp-spmenu-push-toright');
         classie.toggle(menuLeft, 'cbp-spmenu-open');
         disableOther('showLeftPush');
     };

     function disableOther(button) {
         if (button !== 'showLeftPush') {
             classie.toggle(showLeftPush, 'disabled');
         }
     }*/
</script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<script src="./js/layer.js"></script>
<script src="js/mine/common.js"></script>
<script src="js/mine/found.js"></script>
</body>
</html>