<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | General Elements ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="found.html">招领启事</a>
                            </li>
                            <li>
                                <a href="category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="users.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="campus.html"><i class="fa fa-university nav_icon"></i>校区管理</a>-->
                    <!--</li>-->
                    <li>
                        <a href="notice.html"><i class="fa fa-rss nav_icon"></i>&nbsp;公告管理</a>
                    </li>
                    <li>
                        <a href="feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                        <!-- //nav-second-level -->
                    </li>

                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>校园失物招领系统</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">

            <!--notification menu end -->
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon?imgPrefix+user.icon:schoolIcon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p>{{user.schoolName}}</p>
                                    <span>{{user.email}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <!--<li><a ><i class="fa fa-cog"></i> Settings</a></li>-->
                            <!--<li><a ><i class="fa fa-user"></i> Profile</a></li>-->
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page general">
            <!--<h3 class="title1">General Elements</h3>-->
            <div class="panel-info widget-shadow">
                <h4 class="title2">
                    公告一览：
                    <button @click="showAdd" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>
                    </button>
                </h4>
                <div class="col-md-6 panel-grids">
                    <div class="panel panel-info" v-for="(item,index) in list">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{item.title}}</h3>
                        </div>
                        <div class="panel-body">
                            {{item.content}}
                        </div>
                        <div class="panel-footer">
                            <!--<p>-->
                            <h5 style="display: inline-block;">{{item.time}}</h5>

                            <button @click="deleteNotice(item.id)" style="float: right;" type="button" class="btn btn-danger btn-xs">
                                <!--<span class="thumbtack icon"></span>-->
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button @click="switchFix(item.id, index)" :title="item.fixTop==1?'已置顶':'未置顶'"
                                    :class="{'btn-primary': item.fixTop==1, 'btn-default': item.fixTop==0}"
                                    style="float: right; margin-right: 4px;" type="button" class="btn btn-xs">
                                <!--<span class="thumbtack icon"></span>-->
                                <span class="glyphicon glyphicon-pushpin"></span>
                            </button>
                            <!--</p>-->
                            <!--<h6>2019-04-13 16:48:55</h6>-->
                            <!--<span style="float: right;" class="label label-info">2019-04-13 16:48:55</span>-->
                        </div>
                    </div>

                </div>


                <div class="clearfix"></div>
            </div>

        </div>
        <class class="row" id="addDiv" style="display: none;">
            <div class="form-three widget-shadow">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="focusedinput" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-8">
                            <input type="text" v-model="notice.title" class="form-control1" id="focusedinput" placeholder="标题">
                        </div>
                       <!-- <div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>

                    <div class="form-group">
                        <label for="txtarea1" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-8">
                            <textarea v-model="notice.content" id="txtarea1" cols="50" rows="5" placeholder="详情"
                                                        class="form-control1" style="height: auto;"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">设置</label>
                        <div class="col-sm-8">
                            <div class="checkbox-inline"><label><input type="checkbox" v-model="notice.fixTop">置顶</label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" style="background-color: #6164C1;
                                color: #fff;" @click="submit">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </class>
    </div>
    <!--footer-->
    <div class="footer">
        <p>&copy; 2019 校园失物招领网站系统 | <a href="http://www.ecit.edu.cn/" target="_blank">ECUT</a></p>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<script src="./js/layer.js"></script>
<script src="js/mine/common.js"></script>
<script src="js/mine/notice.js"></script>
</body>
</html>