<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Tables ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        a {
            cursor: pointer;
        }

        td, th {
            padding: 2px !important;
        }
    </style>
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="found.html">招领启事</a>
                            </li>
                            <li>
                                <a href="category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="users.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="campus.html"><i class="fa fa-university nav_icon"></i>校区管理</a>-->
                    <!--</li>-->
                    <li>
                        <a href="notice.html"><i class="fa fa-rss nav_icon"></i>&nbsp;公告管理</a>
                    </li>
                    <li>
                        <a href="feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                        <!-- //nav-second-level -->
                    </li>
                    <!--<li>
                        <a href="tables.html"><i class="fa fa-table nav_icon"></i>Tables <span class="nav-badge">05</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="forms.html">Basic Forms <span class="nav-badge-btm">07</span></a>
                            </li>
                            <li>
                                <a href="validation.html">Validation</a>
                            </li>
                        </ul>
                        &lt;!&ndash; //nav-second-level &ndash;&gt;
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="nav-badge-btm">02</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="signup.html">SignUp</a>
                            </li>
                            <li>
                                <a href="blank-page.html">Blank Page</a>
                            </li>
                        </ul>
                        &lt;!&ndash; //nav-second-level &ndash;&gt;
                    </li>
                    <li>
                        <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts <span class="nav-badge-btm pull-right">new</span></a>
                    </li>-->
                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>校园失物招领系统</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">
            <!--notification menu end -->
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon?imgPrefix+user.icon:schoolIcon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p>{{user.schoolName}}</p>
                                    <span>{{user.email}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <!--<li><a ><i class="fa fa-cog"></i> Settings</a></li>-->
                            <!--<li><a ><i class="fa fa-user"></i> Profile</a></li>-->
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper" style="padding-top: 5em;">
        <div class="main-page">
            <div class="col-md-12">
                <div class="col-md-offset-6 col-lg-6" style="padding: 0px 0px 20px 0px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="关键字" v-model="search.keyword">
                        <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" @click="submit">搜索</button>
                              </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

            </div>
            <div class="tables col-md-12">
                <div class="bs-example widget-shadow" style="margin-top: 0px;">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>专业</th>
                            <th>班级</th>
                            <th>学院</th>
                            <th>校区</th>
                            <th>邮箱</th>
                            <th>手机</th>
                            <td>最近登录</td>
                            <th>状态</th>
                            <th>
                                <span class="glyphicon glyphicon-th-list"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in result.list">
                            <th scope="row">{{index+1}}</th>
                            <td>{{item.username}}</td>
                            <td>{{item.name}}&nbsp;<span v-if="item.kind==2" class="glyphicon glyphicon-user text-primary" title="管理员"></span></td>
                            <td>{{item.gender}}</td>
                            <td>{{item.major}}</td>
                            <td>{{item.classNum}}</td>
                            <td>{{item.academy}}</td>
                            <td>{{item.campus}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.lastLogin}}</td>
                            <td>
                                <span v-if="item.status=='正常'" class="label-success label">{{item.status}}</span>
                                <span v-else class="label-danger label">{{item.status}}</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a @click="resetPassword(item.userId)">重置密码</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li v-if="item.status=='正常'"><a @click="freezeUser(item.userId)">冻结账号</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li v-else><a @click="unfreezeUser(item.userId)">解冻账号</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li v-if="item.kind<2"><a @click="setAsManager(item.userId, 1)">添加为管理员</a></li>
                                        <li v-else><a @click="setAsManager(item.userId, 0)">移除该管理员</a></li>
                                        <!--<li><a href="#"></a></li>-->
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <p v-if="result.list.length == 0" class="text-center">无内容</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7">
                    <nav style="float: right;">
                        <ul class="pagination">
                            <li><a @click="toPage(0)">首页</a></li>
                            <li :class="{disabled: search.pageNum==0}">
                                <a @click="toPage(search.pageNum-1)" aria-label="Previous">
                                    <span aria-hidden="true">«</span></a>
                            </li>
                            <li v-for="num in result.totalPage" :class="{active: num==currentPage}">
                                <a @click="toPage(num-1)">{{num}}</a>
                            </li>
                            <li :class="{disabled: search.pageNum>=result.totalPage - 1}">
                                <a @click="toPage(search.pageNum+1)"
                                   aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                            <li><a @click="toPage(result.totalPage-1)">末页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-5">
                    <div class="input-group" style="margin: 20px 10px;">
                        <span class="input-group-addon" id="sizing-addon1">共{{result.total}}条，每页</span>
                        <input type="text" class="form-control" v-model="search.pageSize">
                        <span class="input-group-addon" id="sizing-addon2">条，第</span>
                        <input type="text" class="form-control" :value="currentPage" id="pgNum">
                        <span class="input-group-addon" id="sizing-addon3">/{{result.totalPage}}页</span>
                        <span class="input-group-btn" style="width: auto;">
                                <button class="btn btn-primary" type="button" @click="submit">确定</button>
                            </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p>&copy; 2019 校园失物招领网站系统 | <a href="http://www.ecit.edu.cn/" target="_blank">ECUT</a></p>

    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="js/classie.js"></script>
<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<script src="./js/layer.js"></script>
<script src="js/mine/common.js"></script>
<script src="js/mine/users.js"></script>

</body>
</html>